.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  height: 756px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.header__block-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 64px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.logo_size {
  display: block;
  width: 183px;
  height: 32px; 
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  width: 730px;
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
}

.header__block-right {
  position: relative;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: no-repeat url(../images/header-image.png);
  background-size: cover;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* main content */

/* description */

.description {
  width: 80%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-coloumns__paragraph-2 {
  margin: 30px 0;
}

.two-coloumns__span-accent {
  font-weight: bold;
}

/* digits */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__span {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* feynman */

.feynman {
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.feynman__title {
  width: 648px;
  padding: 100px 0 70px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 1;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
}






/* Modificators */

.section_margin {
  margin: 100px auto;
}

.margin_0 {
  margin: 0;
}

.text-align_center {
  text-align: center;
}

.box-sizing_border-box {
  box-sizing: border-box;
}